<div class="d-flex flex-row justify-content-center mt-5">
  <div class="bg-gray p-5">
    <div class="mb-4"><%= fa_icon "product-hunt", class: "fa-lg"%>ARKINDEX</div>
    <%= link_to '/auth/facebook', class: "btn btn-block btn-sm btn-social btn-facebook" do %>
    <span class="fa fa-facebook"></span>Facebookでログイン
    <% end %>
    <%= link_to '/auth/twitter', class: "btn btn-block btn-sm btn-social btn-twitter disabled" do %>
    <span class="fa fa-twitter"></span>Twitterでログイン
    <% end %>
    <%= link_to '/auth/instagram', class: "btn btn-block btn-sm btn-social btn-instagram disabled" do %>
    <span class="fa fa-instagram"></span>Instagramでログイン
    <% end %>
  </div>
</div>
