<div class="d-flex">
  <div class="card text-black mt-4 mb-4 bg-gray">
    <div class="card-header">
      <h3 class="card-title"><%= fa_icon "compass" %> <%= @skiresort_have_parks.first.area %> <small>パーク情報情報</small></h3>
      <p class="card-text area-introduciton"><%= fa_icon "share-square" %> このエリアはとにかくすごい。ありえん多いパーク。ありえん多いアイテム数。ありえんでかいキッカーがアる。あーい！</p>
    </div>
    <div class="card-body bg-white">
      <ul class="list-unstyled">
        <%= render :partial => "parks/skiresort_have_parks", :collection => @skiresort_have_parks %>
      </ul>
    </div>
  </div>
</div>
