<div class="d-flex">
  <div class="card text-black mt-4 mb-4" style="background-color: #eee">
    <div class="card-header">
      <h3 class="card-title"><%= fa_icon "search" %> スキー場情報</h3>
      <p class="card-text area-introduciton"><%= fa_icon "share-square" %> 検索されたスキー場</p>
    </div>
    <div class="card-body bg-white">
      <div class="card-columns">
        <%= render @skiresorts %>
      </div>
    </div>
  </div>
</div>
