body {
  font-family: arial, "游ゴシック", "arial unicode ms", arial, sans-serif;
}

ul {
  padding-left: 0;
}

.bg-gray {
  background-color: #eee;
}

.border-top-gray {
  border-top: solid 1px #eee;
}

// ホーム
.top-page {
  box-shadow: 4px 4px 20px gray;
  .image-area{
    background-image: url("bg-pattern3.jpg");
    #title {
      padding-top: 3em;
    }
    #subtitle {
      font-size: 1.2em;
    }
    #btn-signup {
      margin-right: auto;
      margin-left: auto;
    }
    #carouselIndicators {
      margin: auto;
    }
  }
}

// park_index
.park-index {
  .each-skiresort {
    float: left;
    box-shadow: 1px 1px 8px gray;
  }
}

// park_show
.each-lane{
  .name{
    font-size: 1.1em;
  }
}

// member_show
.name-label {
  font-size: 2em;
}
