body {
  font-family: arial, "游ゴシック", "arial unicode ms", arial, sans-serif;
}

// skiresorts index
.skiresorts-index {
  li {
    list-style: none;
    float: left;
    border: solid 1px #eee;
    padding: 0;
    margin: 20px;
    a {
      color: black;
      text-decoration: none;
    }
  }
}

// parks index
.parks-index {
  li {
    list-style: none;
    float: left;
    border: solid 1px #eee;
    padding: 0;
    margin: 20px;
    a {
      color: black
    }
  }
}

// parks show
.comments {
  a {
    color: black;
    text-decoration: none;
  }
}

// login
.social-btn-area {
  background-color: #eee;
}

// home
.carousel-caption-logo {
  // color: black;
  font-size: 2em;
}

.center {
  text-align: center;
}

// footer
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  border-top: solid 1px #f5f5f5;
  text-align: center;
  a {
    color: black;
    text-decoration: none;
  }
}
