body {
  font-family: arial, "游ゴシック", "arial unicode ms", arial, sans-serif;
}

.bg-gray {
  background-color: #eee;
}

.border-top-gray {
  border-top: solid 1px #eee;
}

ul {
  padding-left: 0;
}

// member show
.name-label {
  font-size: 2em;
}
