h1 {
  padding-top: 20px;
}

// skiresorts index
.skiresorts-index {
  li {
    list-style: none;
    float: left;
    border: solid 1px #eee;
    padding: 0;
    margin: 20px;
    a {
      color: black
    }
  }
}

// parks index
.parks-index {
  li {
    list-style: none;
    float: left;
    border: solid 1px #eee;
    padding: 0;
    margin: 20px;
    a {
      color: black
    }
  }
}

// footer
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  border-top: solid 1px #f5f5f5;
  text-align: center;
  a {
    color: black;
    text-decoration: none;
  }
}
