<footer class="mt-3 py-3 text-center border-top-gray">
    <small>
      Copyright© <a href="https://github.com/kotaroooo0" class="text-dark">kotaroooo0</a>. All rights reserved.
    </small>
</footer>
